<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Jess Brisson | Web Applications/API Developer </title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/main.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div id="root">

      <button class="hmbgr-menu" @click="toggleHamburgerMenu($event)">
        <span></span>
      </button>

      <header class="masthead mb-auto">
        <div class="inner clearfix">
          <nav class="nav nav-masthead justify-content-center">
            <a 
              v-for="section in sections" 
              class="nav-link" 
              :href="'#jb-' + section.name"
              @click.prevent="scrollToSection($event)"
            >
              {{ section.name }}
            </a>
          </nav>
        </div>
      </header>

      <div v-if="terminalOpen" class="terminal-container">
        <input class="col-sm-8 offset-sm-2" type="text" v-model="terminalInput" placeholder="type a command and hit enter">
        <button @click="terminalClose()">close</button>
      </div>

      <main role="main" class="inner">

        <section id="jb-top" ref="jbTop">

          <div id="jb-me">
            <img src="img/itsme.jpg" alt="a picture of me" title="Hi! it's me Jess Brisson">
          </div>
            
          <div class="row jb-header">
            <div class="col-sm-12">
              <h1><span>J</span>Brisson</h1>
            </div>
          </div>

          <div class="row jb-content">
            <div class="col-sm-12">
                <p class="h4">Web Application/Site development that scales.</p>
                <p>API Development with Java/Kotlin and Spring Boot or Node.js with Express.
                <br>Frontend Solutions with modern JavaScript, HTML5, CSS(SCSS, Bootstrap).
                <br>
            </div>
          </div>

        </section>


        <section id="jb-about" ref="jbAbout">

          <div class="row jb-header">
            <div class="col-sm-12">
              <h2>About</h2>
            </div>
          </div>

          <div class="row jb-content">
            <div class="col-sm-8 offset-sm-2">
              <p>My name is Jess Brisson, I'm an experienced Web Applications and API Developer with many facets. Since 2015 I've made and maintained various websites, custom web applications, and services/API's for many business needs.</p>
            </div>
          </div>

        </section>


        <section id="jb-services" ref="jbServices">

          <div class="row jb-header">
            <div class="col-sm-12">
                <h2>Services</h2>
            </div>
          </div>

          <div class="row jb-content">
            <div class="col-lg-4">
              <div>
                <h3>Backend MVC and API development with Java/Kotlin(Spring/Boot, Struts), Node.js(Express), and Relational Database Development/Management</h3>
              </div>
            </div>
            <div class="col-lg-4">
              <div>
                <h3>Frontend Development with JavaScript(TypeScript, React.js, Vue.js, Angular, etc.), HTML, CSS(SCSS, Bootstrap)</h3>
              </div>
            </div>
            <div class="col-lg-4">
              <div>
                <h3>Custom Solutions, DevOps Assistance, App Maintenance, Microservices</h3>
              </div>
            </div>
          </div>

        </section>


        <section id="jb-contact" ref="jbContact">

          <div class="row jb-header">
            <div class="col-sm-12">
              <h2>Contact</h2>
            </div>
          </div>

          <div class="row jb-content">
            <div class="col-sm-12">
              <input type="checkbox" @change="emailHoneypot" :disabled="!emailActive">
              <h3 v-if="emailActive"><a href="mailto:jessbrisson@gmail.com">jessbrisson@gmail.com</a></h3>
            </div>
          </div>

        </section>

        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="row">
          <div class="col">
            <p><small>This site was created with modern(ES6) JavaScript and Vue.js. If you are experiencing issues please use an upgraded browser.</small></p>
            <p><small><span class="jb-date">{{ theYear }}</span> | Jess Brisson</small></p>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
