<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Jess Brisson | PHP | JavaScript | Web Development</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/main.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div id="root">

      <button class="hmbgr-menu" @click="toggleHamburgerMenu($event)">
        <span></span>
      </button>

      <header class="masthead mb-auto">
        <div class="inner clearfix">
          <nav class="nav nav-masthead justify-content-center">
            <a 
              v-for="section in sections" 
              class="nav-link" 
              :href="'#jb-' + section.name"
              @click.prevent="scrollToSection($event)"
            >
              {{ section.name }}
            </a>
          </nav>
        </div>
      </header>


      <main role="main" class="inner">

        <section id="jb-top" ref="jbTop">

          <div id="jb-me">
            <img src="img/itsme.jpg" alt="a picture of me" title="Hi! it's me Jess Brisson; your Web Developer">
          </div>
            
          <div class="row jb-header">
            <div class="col-sm-12">
              <h1><span>J</span>Brisson</h1>
            </div>
          </div>

          <div class="row jb-content">
            <div class="col-sm-12">
              <p class="h4">Web Development that exceeds expectations.</p>
              <p>Backend PHP Development with Laravel, WordPress, or Custom PHP/NodeJS.
                <br>Frontend Solutions with modern JavaScript, Vue.js, Lodash, HTML, CSS/SCSS, Bootstrap.
                <br>Website/UI design.
                <br>
                <br><strong>Are you looking for a custom website or web solution?</strong></p>
            </div>
          </div>

        </section>


        <section id="jb-about" ref="jbAbout">

          <div class="row jb-header">
            <div class="col-sm-12">
              <h2>About</h2>
            </div>
          </div>

          <div class="row jb-content">
            <div class="col-sm-8 offset-sm-2">
              <p>My name is Jess Brisson, I'm an experienced Web Developer with many facets. Since 2014 I've made and maintained over 40 business websites, custom web applications, and services for many business needs.</p>
              <p><strong>If you are looking for a website or a custom solution for your business, please do reach out.</strong></p>
            </div>
          </div>

        </section>


        <section id="jb-services" ref="jbServices">

          <div class="row jb-header">
            <div class="col-sm-12">
                <h2>Services</h2>
            </div>
          </div>

          <div class="row jb-content">
            <div class="col-lg-4">
              <div>
                <h3>PHP Backend Development (Laravel, WordPress, Databases, Custom)</h3>
              </div>
            </div>
            <div class="col-lg-4">
              <div>
                <h3>Frontend Development with JavaScript(ES5/6, Vue.js, Lodash, etc.), HTML, CSS(SCSS)</h3>
              </div>
            </div>
            <div class="col-lg-4">
              <div>
                <h3>Custom Solutions, Maintenance, API's, Micro Services, Web/UI Design</h3>
              </div>
            </div>
          </div>

        </section>


        <section id="jb-contact" ref="jbContact">

          <div class="row jb-header">
            <div class="col-sm-12">
              <h2>Contact</h2>
            </div>
          </div>

          <div class="row jb-content">
            <div class="col-sm-12">
              <input type="checkbox" @change="emailHoneypot" :disabled="!emailActive">
              <h3 v-if="emailActive"><a href="mailto:jessbrisson@gmail.com">jessbrisson@gmail.com</a></h3>
              <!-- <form action="">
                <div class="form-group">
                  <input type="text" placeholder="name" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                  <input type="email" placeholder="email" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                  <input type="phone" placeholder="phone" class="form-control form-control-lg">
                </div>
                <input type="submit" class="btn btn-lg btn-dark" value="submit">
              </form> -->
            </div>
          </div>

        </section>

        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="row">
          <div class="col">
            <p><small>This site was created with modern(ES6) JavaScript and Vue.js. If you are experiencing issues please use an upgraded browser.</small></p>
            <p><small><span class="jb-date">{{ theYear }}</span> | Jess Brisson</small></p>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
