#gameboard {
  border: 1px solid #1abc9c;
  background: #2c2c2c;
  height: 310px;
  position: relative;
  width: 310px;
}

#gameboard > span {
  color: #1abc9c;
  position: absolute;
    left: 0;
  top: 150px;
  text-align: center;
  width: 100%;
}

#snake li {
  background: #1abc9c;
  border: 1px solid #2c2c2c;
  box-sizing: border-box;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
}

.apple {
  background: transparent;
  border: 1px solid #1abc9c;
  box-sizing: border-box;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
}